
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public write access for waitlist submissions
    match /waitlist/{docId} {
      allow create: if true;
    }
    
    // Allow public write access for survey submissions
    match /surveySubmissions/{docId} {
      allow create: if true;
    }

    // Secure user data to only be accessible by the authenticated user
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    
    // Allow anyone to read a user's portfolio if they have the slug
    match /users/{userId} {
        allow get: if true;
    }
  }
}
