@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 180 100% 33%;
    --chart-3: 0 0% 63.9%;
    --chart-4: 0 0% 46.1%;
    --chart-5: 0 0% 14.9%;

    /* Light Theme Sidebar */
    --sidebar-background: 0 0% 96.1%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 29 100% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 92.9%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 29 100% 50%;
  }

  .dark {
    --background: 222 24% 14%; /* Dark Grey */
    --foreground: 0 0% 96%; /* Off-white */
    --card: 222 24% 20%; /* Lighter Grey */
    --card-foreground: 0 0% 96%;
    --popover: 222 24% 13%;
    --popover-foreground: 0 0% 96%;
    --primary: 29 100% 50%; /* Orange */
    --primary-foreground: 0 0% 98%;
    --secondary: 180 100% 33%; /* Teal */
    --secondary-foreground: 0 0% 98%;
    --muted: 222 24% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 100% 33%; /* Teal */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 24% 25%;
    --input: 222 24% 25%;
    --ring: 29 100% 50%; /* Orange */
    --chart-1: 29 100% 50%;
    --chart-2: 180 100% 33%;
    --chart-3: 0 0% 63.9%;
    --chart-4: 0 0% 46.1%;
    --chart-5: 0 0% 14.9%;

     /* Dark Theme Sidebar */
    --sidebar-background: 222 24% 14%;
    --sidebar-foreground: 0 0% 96%;
    --sidebar-primary: 29 100% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 222 24% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 24% 25%;
    --sidebar-ring: 29 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
