@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 250 11% 9%; /* Dark Void */
    --foreground: 0 0% 98%; /* Snow */
    --card: 257 8% 11%; /* Gluon Grey */
    --card-foreground: 0 0% 98%; /* Snow */
    --popover: 257 8% 11%; /* Gluon Grey */
    --popover-foreground: 0 0% 98%; /* Snow */
    --primary: 25 92% 51%; /* Liquid Lava */
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 15%; /* Slate Grey */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%; /* Slate Grey */
    --muted-foreground: 0 0% 53%; /* Dusty Grey */
    --accent: 0 0% 15%; /* Slate Grey */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 15%; /* Slate Grey */
    --input: 0 0% 15%; /* Slate Grey */
    --ring: 25 92% 51%; /* Liquid Lava */
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 210 40% 96.1%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Light Theme Sidebar */
    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 25 92% 51%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 5.2% 92.9%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 25 92% 51%;
  }

  .dark {
    --background: 250 11% 9%; /* Dark Void */
    --foreground: 0 0% 98%; /* Snow */
    --card: 257 8% 11%; /* Gluon Grey */
    --card-foreground: 0 0% 98%; /* Snow */
    --popover: 257 8% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 25 92% 51%; /* Liquid Lava */
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 15%; /* Slate Grey */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%; /* Slate Grey */
    --muted-foreground: 0 0% 53%; /* Dusty Grey */
    --accent: 0 0% 15%; /* Slate Grey */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%; /* Slate Grey */
    --input: 0 0% 15%; /* Slate Grey */
    --ring: 25 92% 51%; /* Liquid Lava */
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 0 0% 83.1%;
    --chart-3: 0 0% 63.9%;
    --chart-4: 0 0% 46.1%;
    --chart-5: 0 0% 14.9%;

     /* Dark Theme Sidebar */
    --sidebar-background: 250 11% 9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 25 92% 51%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 24%;
    --sidebar-ring: 25 92% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
